     /* Base styling */

 body {
     background-color: lightgrey;
     max-width: 800px;
     margin: 0 auto;
     padding: 1em 0;
 }

 a {
     text-decoration: none;
 }

 .popover {
     background-color: #b94a48;
     border: none;
     border-radius: unset;
     min-width: 100px;
     width: 100%;
     max-width: 400px;
     height: 0 auto;
     overflow-wrap: break-word;
     align-content: center;
     position: absolute;
     border: 1px solid black;
 }



 .popover>.arrow:after {
     border-color: rgba(136, 183, 213, 0);
     border-right-color: grey;
     border-width: 2px;
     margin-bottom: 0 auto;
 }
